.base08 {
  color: #ab4642;
}
.base09 {
  color: #dc9656;
}
.base0A {
  color: #f7ca88;
}
.base0B {
  color: #a1b56c;
}
.base0C {
  color: #86c1b9;
}
.base0D {
  color: #7cafc2;
}
.base0E {
  color: #ba8baf;
}
.base08-bg {
  background-color: #ab4642;
}
.base09-bg {
  background-color: #dc9656;
}
.base0A-bg {
  background-color: #f7ca88;
}
.base0B-bg {
  background-color: #a1b56c;
}
.base0C-bg {
  background-color: #86c1b9;
}
.base0D-bg {
  background-color: #7cafc2;
}
.base0E-bg {
  background-color: #ba8baf;
}
